@import "tailwindcss";

@theme {
  --color-primary: #c86b53;
  --color-background-light: #FFFFFF;
  --color-background-dark: #1f2937;
  --color-surface-light: #f8f7f5;
  --color-surface-dark: #374151;
  --color-text-light: #103c54;
  --color-text-dark: #e5e7eb;
  --color-subtext-light: #6b7280;
  --color-subtext-dark: #9ca3af;
  
  --font-display: var(--font-montserrat);
}

/* Custom utilities if needed */
@layer utilities {
  .container {
    @apply mx-auto px-6;
  }
}
